@using GabayForGood.WebApp.Models
@model List<ProjectVM>;
@{
    ViewData["Title"] = "ORG Dashboard -";
}
<h1>PROJECT DASHBOARD</h1>
<table>
    <thead>
        <th>Project ID</th>
        <th>Title</th>
        <th>Details</th>
        <th>Goal</th>
        <th>Status</th>
        <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProjectVM p in Model)
        {
            <tr>
                <td>@p.ProjectId</td>
                <td>
                    @p.Title
                    @p.Description
                </td>
                <td>
                    @p.Category
                    @p.Cause
                    @p.Location
                </td>
                <td>
                    @p.GoalAmount
                    @p.StartDate
                    @p.EndDate
                </td>
                <td>
                    @p.Status
                </td>
                <td>
                    <a asp-controller=""></a>
                </td>
            </tr>
        }
    </tbody>
</table>
